{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block head %}
    <style>
        #map {
        height: 300px;
      }
    </style>

{% endblock %}
{% block content %}
    <!--contact-start-->
    <div class="contact">
        <div class="container">
            {% for message in messages %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <div class="contact-top heading">
                <h2>CONTACT</h2>
            </div>
            <div class="contact-text">
                <div class="col-md-3 contact-left">
                    <div class="address">
                        <h5>Address</h5>
                        <p>The company name,
                            <span>Lorem ipsum dolor,</span>
                            Glasglow Dr 40 Fe 72.</p>
                    </div>
                    <div class="address">
                        <h5>Address1</h5>
                        <p>Tel:1115550001,
                            <span>Fax:190-4509-494</span>
                            Email: <a href="mailto:example@email.com">contact@example.com</a></p>
                    </div>
                </div>
                {% trans 'placeholder:Имя' as name %}
                {% trans 'placeholder:Текст' as text %}
                {% trans 'placeholder:Эл. почта' as email %}
                <div class="col-md-9 contact-right">
                    <form method="post" action="">
                        {{ form.name | attr:name }}
                        {{ form.name.errors }}
                        {{ form.email|attr:"type:text" |attr:email }}
                        {{ form.email.errors }}
                        {{ form.text | attr:text}}
                        <div class="submit-btn">
                            <input type="submit" value="{% trans 'Отправить' %}">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--contact-end-->
    <!--map-start-->
    <div class="map">
        <div id="map"></div>
    </div>
    <!--map-end-->
{% endblock %}
{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script>
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map'));
            var bounds = new google.maps.LatLngBounds();

            function addMarker(lat, lng) {
                var position = new google.maps.LatLng(lat, lng);
                var marker = new google.maps.Marker({
                    position: position,
                    map: map
                });
                bounds.extend(position);
            }

            addMarker({{ position.position.latitude }}, {{ position.position.longitude }});

            map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}