{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Главная страница</title>
{% endblock %}
{% block content %}
    <!--banner-starts-->
    <div class="bnr" id="home">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                {% for slide in slides %}
                <li>
                    <img src="{{ slide.image.url }}" alt=""/>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--banner-ends-->
    {% verbatim %}
     <p>1 + 2 = {{ 1 + 2 }}</p>
    {% endverbatim %}
    <!--about-starts-->
    <!--product-starts-->
    <div class="product" ng-controller="ItemListCtrl">
        <div class="container">
            <div class="product-top">
                <div class="product-one">

                    {% verbatim %}
                    <div class="col-md-3 product-left" ng-repeat="item in phones">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="{% url 'item_detail' item.category.slug item.slug %}" class="mask"><img class="img-responsive zoom-img" src="{{ item.image }}"
                                                                    alt=""/></a>

                                <div class="product-bottom">
                                    <h3>{{ item.title }}</h3>
                                    <h4><span class=" item_price">$ {{ item.price }}</span></h4>
                                </div>


                        </div>
                    </div>
                    {% endverbatim %}

                    <div class="clearfix"></div>
                </div>
            </div>
            {% verbatim %}
            <div class="container-fluid">
                <div class="row">
                    Search: <input ng-model="query">
                    Sort by:
                    <select ng-model="orderProp">
                        <option value="low">low</option>
                        <option value="high">high</option>
                    </select>


                    <ul class="phones">
                        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                            <span>{{ phone.title }}</span>
                            <p>{{ phone.price }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>
    <!--product-end-->
{% endblock %}
{% block js %}
    <!--Slider-Starts-Here-->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--End-slider-script-->
{% endblock %}