{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="{{ item.image.url }}">
									<div class="thumb-image"> <img src="{{ item.image.url }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>

							  </ul>
						</div>
                        <!-- FlexSlider -->
                        <script src="{% static 'js/imagezoom.js' %}"></script>
                        <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
                        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen"/>

                        <script>
                            // Can also be used with $(document).ready()
                            $(window).load(function () {
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                            });
                        </script>
					</div>
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2>{{ item.title }}</h2>

							<h5 class="item_price">$ {{ item.price }}</h5>
							<p>{{ item.description }}</p>

							<ul class="tag-men">
								<li><span>TAG</span>
                                    {% if item.sex == 'M' %}
                                        <span class="women1">Мужские</span></li>
                                    {% elif item.sex == 'F' %}
                                        <span class="women1">Женские</span></li>
                                    {% else %}
                                        <span class="women1">Унисекс</span></li>
                                    {% endif %}
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="latestproducts">
					<div class="product-one">
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-1.png" alt="" /></a>
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<p>Explore Now</p>
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<div class="srch">
									<span>-50%</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-2.png" alt="" /></a>
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<p>Explore Now</p>
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<div class="srch">
									<span>-50%</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 product-left p-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="images/p-3.png" alt="" /></a>
								<div class="product-bottom">
									<h3>Smart Watches</h3>
									<p>Explore Now</p>
									<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
								</div>
								<div class="srch">
									<span>-50%</span>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			</div>
		</div>
	</div>
	<!--end-single-->
{% endblock %}
{% block js %}
    <script type="text/javascript">
	$(function() {

	    var menu_ul = $('.menu_drop > li > ul'),
	           menu_a  = $('.menu_drop > li > a');

	    menu_ul.hide();

	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });

	});
</script>
{% endblock %}